$bg-color: #F3C329;
$color: #000;
header{
    $logo-font: 24px RobotoBlack;
    font: $logo-font;
    background: $bg-color;
    color: $color;
}

.header__logo{
    display: flex;
    align-items: center;
}


.header__menu{
    color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    a{
        font: 18px RobotoRegular;
        color: #000;
    }
}

.header__telephone{
    font: 18px RobotoBold;
    display: flex;
    align-items: center;
    flex-direction: row;
}
